{% extends "./layouts/main.html" %} {% block content %}

<div class="d-flex justify-content-between align-items-center mb-2">
  <h1>Positions</h1>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#add_position_modal"
  >
    Add Position
  </button>

  <!-- Add Position Modal -->
  <div
    class="modal fade"
    id="add_position_modal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Position</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/positions/add">
            {% csrf_token %}
            <div class="mb-2">
              <label for="firstname" class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                id="firstname"
                name="description"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 mx-auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for position in positions %}
        <tr>
          <th scope="row">{{position.id}}</th>
          <td>{{position.description}}</td>
          <td class="d-flex align-items-center">
            <form action="/positions/remove" method="POST">
              {% csrf_token %}
              <input type="hidden" name="position_id" value="{{position.id}}" />
              <button type="submit" class="btn btn-danger btn-sm">
                Delete
              </button>
            </form>

            <button
              type="button"
              class="btn btn-primary btn-sm ms-2"
              data-bs-toggle="modal"
              data-bs-target="#edit_position_modal_{{position.id}}"
            >
              Edit Position
            </button>

            <!-- Edit Position Modal -->
            <div
              class="modal fade"
              id="edit_position_modal_{{position.id}}"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Add Position
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form method="POST" action="/positions/update">
                      {% csrf_token %}
                      <input
                        type="hidden"
                        name="position_id"
                        value="{{position.id}}"
                      />
                      <div class="mb-2">
                        <label for="firstname" class="form-label"
                          >Description</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="firstname"
                          name="description"
                          aria-describedby="emailHelp"
                          value="{{position.description}}"
                        />
                      </div>
                      <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock%}
